<br>
<div class="container-fluid">
    <h1>Profile</h1>
    <div class="container box">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <img src="https://us.123rf.com/450wm/kritchanut/kritchanut1401/kritchanut140100054/25251050-businessman-avatar-profile-picture.jpg?ver=6"
                    class="img-fluid rounded-top profile" style="width: 60%;" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h5>Name : {{userDetails.name}}</h5>
                    </div>
                    <div class="col">
                        <h5>Email : {{userDetails.email}}</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h5>DOB : {{userDetails.dob}}</h5>
                    </div>
                    <div class="col">
                        <h5>Blood Group : {{userDetails.bloodGroup}}</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h5>Number : {{userDetails.number}}</h5>
                    </div>
                    <div class="col">
                        <h5>Alternative</h5>
                        <h5> Number : {{userDetails.alternativeNumber}}</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="">
                        <h5>Address : {{userDetails.address}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<br>