<br>
<section id="about">
    <div class="container ">
        <br>
        <h1>About</h1>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <img src="https://media.istockphoto.com/vectors/donate-blood-and-save-life-medical-banner-design-vector-id989738616?k=20&m=989738616&s=612x612&w=0&h=Ni0rVfD-KVa80veGM28HnSd4ah3X6GKRec1TJAV9DrE="
                    class="img-fluid rounded-top" alt="">
            </div>
            <div class="col">
                <p>A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or
                    made into biopharmaceutical medications by a process called fractionation (separation of whole blood
                    components). Donation may be of whole blood, or of specific components directly (apheresis). Blood
                    banks often participate in the collection process as well as the procedures that follow it.</p>
                <p> Today in the developed world, most blood donors are unpaid volunteers who donate blood for a
                    community supply. In some countries, established supplies are limited and donors usually give blood
                    when family or friends need a transfusion (directed donation). Many donors donate for several
                    reasons, such as a form of charity, general awareness regarding the demand for blood, increased
                    confidence in oneself, helping a personal friend or relative, and social pressure. Despite the many
                    reasons that people donate, not enough potential donors actively donate. However, this is reversed
                    during disasters when blood donations increase, often creating an excess supply that will have to be
                    later discarded. In countries that allow paid donation some people are paid, and in some cases there
                    are incentives other than money such as paid time off from work. People can also have blood drawn
                    for their own future use (autologous donation). Donating is relatively safe, but some donors have
                    bruising where the needle is inserted or may feel faint.</p>
                <p>Potential donors are evaluated for anything that might make their blood unsafe to use. The screening
                    includes testing for diseases that can be transmitted by a blood transfusion, including HIV and
                    viral hepatitis. The donor must also answer questions about medical history and take a short
                    physical examination to make sure the donation is not hazardous to his or her health.</p>
            </div>
        </div>
    </div>
</section>